<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online furniture store - Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Jost;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0.02;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./categories.css" rel="stylesheet" />
      <div class="categories-categories section-container column categories">
        <div class="max-width-container">
          <section-heading-wrapper class="section-heading-wrapper">
            <!--SectionHeading component-->
            <div class="section-heading-section-heading section-heading">
              <h1 class="section-heading-text1 Heading-2">
                <span>SHOP BY CATEGORIES</span>
              </h1>
              <span class="section-heading-text2">
                <span>
                  Start shopping based on the categories you are interested in
                </span>
              </span>
            </div>
          </section-heading-wrapper>
          <div class="categories-cards-container">
            <category-card-wrapper class="category-card-wrapper">
              <!--CategoryCard component-->
              <div class="category-card-category-card">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxkZXNrc3xlbnwwfHx8fDE2NTI4MjE5MDk&amp;ixlib=rb-1.2.1&amp;h=200"
                  class="category-card-image"
                />
                <span class="category-card-text"><span>sofa</span></span>
              </div>
            </category-card-wrapper>
            <category-card-wrapper-8dg8 class="category-card-wrapper-8dg8">
              <!--CategoryCard component-->
              <div class="category-card-category-card1">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1519947486511-46149fa0a254?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEyfHxjaGFpcnxlbnwwfHx8fDE2NTI4MTgxODk&amp;ixlib=rb-1.2.1&amp;w=1500"
                  class="category-card-image1"
                />
                <span class="category-card-text1"><span>Chairs</span></span>
              </div>
            </category-card-wrapper-8dg8>
            <category-card-wrapper-bxh3 class="category-card-wrapper-bxh3">
              <!--CategoryCard component-->
              <div class="category-card-category-card2">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1594125674956-61a9b49c8ecc?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHx0YWJsZXxlbnwwfHx8fDE2NTI4MjE5ODQ&amp;ixlib=rb-1.2.1&amp;h=200"
                  class="category-card-image2"
                />
                <span class="category-card-text2"><span>Tables</span></span>
              </div>
            </category-card-wrapper-bxh3>
            <category-card-wrapper-vmxw class="category-card-wrapper-vmxw">
              <!--CategoryCard component-->
              <div class="category-card-category-card3">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1573469635233-7974cb21a915?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxsYW1wc3xlbnwwfHx8fDE2NTI4MjIwMTY&amp;ixlib=rb-1.2.1&amp;h=200"
                  class="category-card-image3"
                />
                <span class="category-card-text3"><span>Lamps</span></span>
              </div>
            </category-card-wrapper-vmxw>
            <category-card-wrapper-fdqk class="category-card-wrapper-fdqk">
              <!--CategoryCard component-->
              <div class="category-card-category-card4">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1558603668-6570496b66f8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDU3fHxwbGFudHN8ZW58MHx8fHwxNjUyODIyMDcy&amp;ixlib=rb-1.2.1&amp;h=200"
                  class="category-card-image4"
                />
                <span class="category-card-text4"><span>Plants</span></span>
              </div>
            </category-card-wrapper-fdqk>
            <category-card-wrapper-hebr class="category-card-wrapper-hebr">
              <!--CategoryCard component-->
              <div class="category-card-category-card5">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1558882224-dda166733046?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fGRlY29yYXRpb258ZW58MHx8fHwxNjUyODIyMDkx&amp;ixlib=rb-1.2.1&amp;h=200"
                  class="category-card-image5"
                />
                <span class="category-card-text5"><span>Decoration</span></span>
              </div>
            </category-card-wrapper-hebr>
            <category-card-wrapper-wckd class="category-card-wrapper-wckd">
              <!--CategoryCard component-->
              <div class="category-card-category-card6">
                <img
                  alt="image"
                  src="https://images.unsplash.com/photo-1597696929736-6d13bed8e6a8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxjb2xsZWN0aW9uc3xlbnwwfHx8fDE2NTI4MjIxMTE&amp;ixlib=rb-1.2.1&amp;h=200"
                  class="category-card-image6"
                />
                <span class="category-card-text6">
                  <span>Collections</span>
                </span>
              </div>
            </category-card-wrapper-wckd>
          </div>
        </div>
        <div class="categories-banner">
          <app-component-wrapper class="app-component-wrapper">
            <!--AppComponent component-->
            <div class="app-component-container app-component">
              <h3 class="app-component-text1 Heading-3">
                <fragment class="categories-fragment1">
                  <span class="categories-text10">Decorollo</span>
                </fragment>
              </h3>
              <span class="app-component-text2">
                <fragment class="categories-fragment2">
                  <span class="categories-text11">Since 1988</span>
                </fragment>
              </span>
            </div>
          </app-component-wrapper>
        </div>
        <div class="categories-container1 max-width-container">
          <div class="categories-container2">
            <span class="categories-text12">
              <fragment class="categories-fragment3">
                <span class="categories-text14">
                  <span>
                    Mobilio Stores Inc. are unique reseller of modern furnitors,
                    designer-made,
                  </span>
                  <br />
                  <span>home-decoration items, since 1997.</span>
                  <br />
                  <span>
                    Our legacy guarantees exceptional product quality, unique
                    designs and special prices for all of our product line-up.
                    Lorem ipsum, consectetur adipiscing elit duis tristique
                    sollicitudin nibh sit amet commodo nulla facilisi nullam
                    vehicula ipsum a arcu cursus vitae congue. Consectetur
                    adipiscing elit duis tristique sollicitudin nibh sit amet
                    commodo nulla facilisi nullam vehicula ipsum a arcu cursus
                    vitae congue
                  </span>
                </span>
              </fragment>
            </span>
            <button class="button">
              <span>
                <fragment class="categories-fragment4">
                  <span class="categories-text20">Read more</span>
                </fragment>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
